<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script defer src="/js/app/js/home.js"></script>
    <link rel="stylesheet" href="/js/app/css/home.css">
</head>
<body>
<nav>
    <a href="#">SkateBoard</a>
    <a href="#">LongBoard</a>
    <a href="#">ShortBoard</a>
    <div id="indicator"></div>

    <main>
        <div class="wrapper">
            <span data-text="PORT"></span>
            <span data-text="FOLIO"></span>
        </div>

    </main>


</nav>


<header>
    <!-- <h1>아래로<br />스크롤해 보면</h1> -->
</header>
<main>
    <section>
        <div class="sa sa-up"><img class="img" src="/js/app/img/!.jpg">디비전 1</div>
        <div class="sa sa-up"><img class="img" src="/js/app/img/2.jpg"> 디비전 2</div>
        <div class="sa sa-up"><img class="img" src="/js/app/img/3.jpg"> 디비전 3</div>
        <div class="sa sa-up"><img class="img" src="/js/app/img/4.jpg"> 디비전 4</div>
    </section>
    <section>
        <div class="sa sa-up"><img class="img" src="/js/app/img/333.jpg"> 디비전 5</div>
        <div class="sa sa-up"><img class="img" src="/js/app/img/6.jpg"> 디비전 6</div>
        <div class="sa sa-up"><img class="img" src="/js/app/img/ee.jpg"> 디비전 7</div>
        <div class="sa sa-up"><img class="img" src="/js/app/img/!!.jpg"> 디비전 8</div>
    </section>
    <section>
        <div class="sa sa-up"><img class="img" src="/js/app/img/!!!.jpg"> 디비전 9</div>
        <div class="sa sa-up"><img class="img" src="/js/app/img/!!!!.jpg"> 디비전 10</div>
        <div class="sa sa-up"><img class="img" src="/js/app/img/ww.jpg"> 디비전 11</div>
        <div class="sa sa-up"><img class="img" src="/js/app/img/3333.jpg"> 디비전 12</div>
    </section>
<!--    <section>-->
<!--        <div id="o" class="sa sa-up">디비전ssssssssssssssssssssssssssssssssssssssssssssssssssssss 9</div>-->
<!--    </section>-->
</main>
{{>layout/footer}}